@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;

}
body{
    position: relative;
}
.container{
    padding-left: 150px;
    padding-right: 150px;
    
    
}