/* w1300 */
.header{
    height: 200px;
    
}
.paddingTop4px{
padding-top: 4px;
}

.header__top{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top-container{
    display: flex;
    width: 970px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.header__top-curren-date{
    padding-left: 80px;
}
.header__top-curren-date span{
    font-size: 1.2rem;
    color: #666;
    
}
.header__top-action{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: flex-end;
}
.hover-search{
    border-radius: 40px;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(190, 177, 177, 0.4);
    display: none;
    
}
.header__top-action-search{
    position: relative;
}
.header__top-action-search .bx.bx-search{
    font-size: 2.4rem;
    padding-right: 20px;
    cursor: pointer;
    z-index: 50;
}
.header__top-search-bar{
    
    position: absolute;
    top: -2px;
    left: -140px;
    width: 140px;
}
.header__top-action-search:hover .header__top-search-bar .hover-search{
    
    color: #28A745;
    display: block;
}

.header__top-hotline{
    width: 200px;
    background-color: #ed1c24;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
}
.header__top-hotline-link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    
}



/* Header Middle */

.header__middle{
    height: 120px;
    
    
}
.header__middle-background{
    
    background-repeat: no-repeat;
    background-image: url(https://static.mediacdn.vn/covid19.gov.vn/image/bg-header.png);
    padding-left: 220px;
}

.header__middle-flex{
    display: flex;
    align-items: center;
}
.header__middle-flex h1{
    margin-right: 20px;
    z-index: 3;
    
}
.header__middle-title{
    line-height: 2.4rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}


/* Header bot */

#navbar-fixed{
    
    background-color: #2e3192;
    height: 36px;
   
    display: flex;
    

}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}


.header__bot-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bot-item{
    font-size: 1.4rem;
}
.header__bot-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 16px;
    line-height: 36px;
}

.app__container{

}

.home__statical{

}
.home__statical-header{

}
.home__statical-list{
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
.home__statical-item{

}

.home__statical-item span{
    font-size: 2rem;
    color: #666;
}
.home__statical-link{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 20px;
    color: #666666;
}
.home__statical-link-selected{
    color: #2E3192;
}



/* home statical static */

.home__statical-static{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.home__statical-static-update{
    
    width: 33%;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    /* margin: 0 10px; */
}
.home__statical-static-update:first-child{
    background-color: rgba(237, 28, 36, 0.1);

}
.home__statical-static-update:first-child .value{
    color: #ED1C24;
    font-size: 1.8rem;
    font-weight: 800;
}

.home__statical-static-update:nth-child(2){
    background-color: rgba(40, 167, 69, 0.1);
    padding: 10px 0;
    margin: 0 20px;
}

.home__statical-static-update:last-child{
    background-color: #F0EFF4;
    padding: 10px 0;
}
.hiden{
    display: none;
}
.home__statical-static-update:nth-child(2) .value{
    color: #28A745;
    font-size: 1.8rem;
    font-weight: 800;

}
.home__statical-static-update:last-child .value{
    color: #333333;
    font-weight: 800;
    font-size: 1.8rem;

}
.home__statical-static-update .text{
    font-size: 1.6rem;
    font-weight: 500;
}

.home__statical-static-update:first-child .infor{
    font-size: 1rem;

}
.home__statical-static-update:first-child .infor span{
    font-size: 1.2rem;
    font-weight: 500;
}


/* home focus */

.home__focus{
    margin-top: 25px;
    
}
.home__focus-flex{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(114, 105, 105, 0.3);
    padding-bottom: 20px;
}
.home__focus-news{
    width: 60%;
}
.home__focus-img{

}
.home__focus-img img{
    width: 100%;
    border-radius: 4px;

}
.home__focus-title{
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.home__focus-sapo{
    font-size: 1.4rem;
    line-height: 2rem;
}
.home__focus-sapo p{
    
}
.home__focus-news-list{
    width: 40%;
    padding-left: 20px;

}
.home__focus-news-list h2 a{
    text-decoration: none;

}

/* home__focus-wrapper */

.home__focus-wrapper{
   border-left: 1px solid rgba(114, 105, 105, 0.3);

}
.home__focus-slide-container{
    background-color: #f0f8ff;
}
.home__focus-slide-swipe{
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    background: #f0f8ff;
    z-index: 3;

}


.home__focus-slide-new{
    margin-bottom: 20px;
    padding-top: 20px;
}
.home__focus-slide-new .time{
    color: #bb1119;
    font-weight: 500;
    font-size: 1.4rem;
    background: #f0f8ff;
    padding: 0 60px;

}
.home__focus-slide-new .box-focus-content{
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 10px;
    padding-top: 20px;

}
.home__focus-slide-new .box-focus-sapo{
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 16px 15px;
    
}
.home__focus-slide-new .box-focus-sapo p{
    color: #333;
    padding: 15px 0;
}
.home__focus-news-list-more{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding-top: 10px;
    font-weight: 500;


}

/* home news */
.home__section-new{
    height: 570px;
    padding-top: 10px;
}

.home__section-new-flex{
    display: flex;
    border-bottom: 1px solid #2e3192;
}

.home__section-new-box-category{
    width: 50%;
    
    
}

.home__section-new-box-list{
    
    
}
.home__section-new-box-item{
    display: flex;
    
    padding: 10px 0;
}
.home__section-new-box-item a img{
    padding-right: 15px;
    border-radius: 5px;
    width: 230px;
    height: 140px;
    
}
.home__section-new-box-item .home__section-new-box-item-content h3 a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    
    font-weight: 500;
    line-height: 130%;

}
.home__section-new-box-item-content{
    padding-right: 20px;
}

.home__section-content-title{
    margin-bottom: 10px;
    
}
.home__section-new-box-item .home__section-new-box-item-content span{
    font-size: 1.4rem;
    line-height: 2rem;
    
}


/* home category */

.home__category{
    margin-bottom: 20px;
    
}
.home__category-flex{
    display: flex;
    border-bottom: 1px solid #2e3192;
    padding-bottom: 40px;
}

.home__category-title a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #2e3192;

}
.home__category-title a img{
    

}
.home__category-big{
    width: 50%;
}

.home__category-big-link{

}
.home__category-big-link a img{
    width: 95%;
    border-radius: 5px;
}
.home__category-link-content a{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: #333;

}
.home__category-link-content{

}
.home__category-link-sapo{
    font-size: 1.4rem;

}

.home__category-sub{
    width: 50%;
}
.home__category-sub-item{
    display: flex;
    
    gap: 20px;
    margin-bottom: 10px;
}
.home__category-sub-item-link{

}
.home__category-sub-item-title{
    font-size: 1.8rem;
    font-weight: 500;

}

.home__category-sub-item a img{
    
    border-radius: 5px;
    height: 130px;
    width: 200px;
}


/* video */

.home__video-sub{
    
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
}

.home__video-sub-item{
    margin: 0 10px;
    width: 45%;
}

.home__video-sub-item-video video{
    border-radius: 5px;
}

.home__video-sub-item-title a{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
}


/* Home list */

.home__list-news-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.home__list-news-title a{
    text-decoration: none;
    font-size: 2.2rem;
}
.home__list-news-item{
    width: 240px;
    margin: 10px 20px;
     
}

.home__list-news-item-link{

}
.home__list-news-item-link-img img{
    width: 260px;
    height: 150px;
}
.home__list-news-item-content{

}
.home__list-news-item-title a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;

}


/* home-list-link */
.home__list-link{
    padding-bottom: 100px;
}
.home__list-link-title{

}
.home__list-link-box{
    display: flex;
    justify-content: space-between;
}
.home__list-link-item{

}
.home__list-link-item img{
    width: 200px;
    height: 80px;
}



/* footer */
footer{
    color: #2e3192;
    width: 100%;
    height: 50px;
}

.footer__flex{
    background: #2e3192;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 0 180px;
    justify-content: space-between;
}

.footer-left-flex{
    display: flex;
    
}
.footer-left-flex-logo a{

}
.footer-left-flex-infor{
    padding-top: 20px;
    padding-left: 20px;
}
.footer-left-flex-infor p{
    font-size: 1.6rem;
}
.footer-left-flex-infor p:first-child{
    font-size: 1.8rem;
    font-weight: 600;
}
.footer-left-flex-infor p{
    color: white;
}
.footer-right{

}
.footer-right-logo{
    padding-top: 20px;
}


/* go to top */

.go-to-top{
    
    color: #333;
    text-decoration: none;
    z-index: 9999;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    position: fixed;
    bottom: 40px;
    right: 40px;

}
.go-to-top i{
    font-size: 1.6rem;
}
.go-to-top span{
    font-size: 1.2rem;
}